@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;800&display=swap');
/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #171919;
  color: #fff;
  text-transform: uppercase;
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 100vh;
}

.header__slider-item {
  height: 100vh !important;
  background-image: url(../img/main/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
}

.slider-item__info-suptitle {
  margin-bottom: 5px;
}

.slider-item__info-suptext {
  margin-bottom: 8px;
}

.slider-item__info-title {
  font-size: 80px;
  line-height: 86px;
  font-weight: 800;
  margin-bottom: 48px;
}

.slider-item__info-text {
  font-weight: 800;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 20px;
}

a {
  display: inline-block;
  text-decoration: none;
}

.headline-left {
  opacity: .5;
  font-size: 22px;
  line-height: 32px;
  padding-left: 103px;
  position: relative;
  display: inline-block;
}

.headline-left::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #fff;
  left: 0;
  top: 50%;
}

.headline-right {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333333px;
  opacity: .5;
  padding-right: 103px;
  position: relative;
  display: inline-block;
}

.headline-right::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #fff;
  right: 0;
  top: 50%;
}

.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;
}

.slider-arrows__left {
  right: 125px;
}

.slider-dotshead {
  position: absolute !important;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;
  color: #fff;
}

.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 28px;
  align-items: center;
  border-top: 4px solid #fff;
  padding-top: 6px;
  text-transform: capitalize;
}

.slider-dots__item.slick-current .dots-box {
  border-top: 4px solid #4af6cd;
}

.dots-box__number {
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
}

.dots-box__name {
  font-weight: 300;
  line-height: 19px;
}

.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-right: 1px solid rgb(255 255 255 / 25%);
  height: 100vh;
  text-align: center;
}

.header__title {
  font-size: 200px;
  line-height: 156px;
  color: #fff;
  opacity: .07;
  font-weight: 800;
  max-width: 467px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.menu {
  padding-top: 80px;
}

.menu__list a span {
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  padding-top: 6px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.header__date {
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
}

.header__date span {
  padding-top: 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.4px;
  margin-bottom: 30px;
  display: block;
}

.header__search {
  padding-top: 15px;
  padding-bottom: 35px;
}

.header__location {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  font-weight: 300;
  position: relative;
  padding-left: 19px;
  text-transform: capitalize;
}

.header__location::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 13px;
  background-image: url(../img/main/pos.svg);
  left: 0;
  top: 0;
}

.header__map {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.header__arrows {
  position: absolute;
  bottom: 30px;
  left: 210px;
  z-index: 3;
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 3s 6s;
  animation-fill-mode: forwards
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

.title div {
  font-weight: 800;
  font-size: 200px;
  color: rgb(255 255 255 / 2%);
  position: relative;
  transform: translateX(-50px);
  display: inline-block;
}

.title h3 {
  font-weight: 800;
  color: #fff;
  font-size: 80px;
  position: absolute;
  top: 0;
  right: 0;
}

.title h3::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 1px;
  background-color: #4af6cd;
}

.serf {
  padding: 160px 0 120px;
}

.subtitle {
  display: inline-block;
  text-align: right;
}

.subtitle__head {
  font-weight: 800;
  font-size: 40px;
  padding-right: 10px;
}

.subtitle__head span {
  font-weight: 300;
}

.serf__subtitle {
  text-align: right;
  padding-right: 80px;
  margin-top: -86px;
}

.serf-slider {
  padding-top: 110px;
}

.serf-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-track {
  height: 100%;
}

.serf-slider .slider-arrows {
  top: 50px;
  opacity: .25;
}

.serf-box__inner {
  min-height: 750px;
  background: rgb(28 33 33 / 85%);
  position: relative;
  transition: all .5s;
}

.serf-box__inner:hover {
  background: rgb(28 33 33 / 0);
}

.serf-box__inner:hover .serf-box__inner-btn {
  display: block;
}

.serf-box__inner-title {
  font-size: 40px;
  line-height: 36px;
  font-weight: 800;
  padding: 72px 0 0 40px;
  width: 140px;
}

.serf-box__inner-location {
  line-height: 22px;
  font-size: 18px;
  letter-spacing: 8px;
  position: absolute;
  transform: rotate(-90deg);
  left: 40px;
  bottom: 80px;
  width: 0;
  height: 0;
  white-space: nowrap;
}

.serf-box__inner-btn {
  bottom: 0;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  display: none;
}

.btn {
  font-size: 40px;
  line-height: 36px;
  font-weight: 800;
}

.btn span {
  background-color: #4af6cd;
  padding: 17px 57px 15px 17px;
  display: inline-block;
  margin-left: 19px;
  position: relative;
}

.btn span::before, .btn span::after {
  content: '';
  position: absolute;
}

.btn span::before {
  width: 20px;
  height: 1px;
  background-color: #fff;
  top: 50%;
  left: -10px;
}

.btn span::after {
  width: 25px;
  height: 21px;
  background-image: url(../img/main/arrow-right.svg);
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
}

.serf-slider .slick-slide:nth-child(4n+1).serf-box {
  margin-top: 32px;
}

.serf-slider .slick-slide:nth-child(4n+3).serf-box {
  margin-top: 89px;
}

.slider-map {
  max-width: 1200px;
  min-height: 635px;
  background-image: url(../img/slider/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.slider-map .slick-list {
  min-height: 635px;
  overflow: visible;
}

.slider-map .slick-current .slider-dots__content {
  display: block;
  width: 285px;
  padding: 28px 31px 0 32px;
}

.slider-dots__content-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.slider-dots__content-item {
  text-align: center;
}

.slider-dots__content-item img {
  margin-bottom: 7px;
}

.slider-dots__content-number {
  font-size: 16px;
  line-height: 23px;
  font-weight: 800;
}

.slider-dots__content-name {
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
}

.slider-dots__content-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  position: relative;
}

.slider-dots__content-title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  bottom: 0;
  left: 0;
}

.slider-dots__content-subtitle {
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}

.slider-dots__circle {
  width: 24px;
  height: 24px;
  background-color: #4af6cd;
  border-radius: 50%;
}

.slider-dots__content {
  display: none;
  background: rgb(15 16 16 / 70%);
  border-radius: 6px;
  position: absolute;
  bottom: 30px;
  z-index: 1;
  left: 150px;
  transform: translateX(-50%);
}

.slider-dots__content-last {
  left: -75px;
}

.slider-dots {
  position: relative;
}

.slider-dots--1 {
  top: 335px;
  left: 0;
}

.slider-dots--2 {
  top: 270px;
  left: 0;
}

.slider-dots--3 {
  top: 330px;
  left: 25px;
}

.slider-dots--4 {
  top: 470px;
  left: -25px;
}

.slider-dots--5 {
  top: 230px;
  left: -65px;
}

.slider-dots--6 {
  top: 550px;
  left: -120px;
}

.slider-dots--7 {
  top: 375px;
  left: -95px;
}

.slider-dots--8 {
  top: 470px;
  left: 35px;
}

.travel {
  padding: 160px 0 151px;
  background-image: url(../img/travel/cocktail.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.sleep {
  background-image: url(../img/sleep/Frangipani.png);
}

.travel .slider-arrows {
  top: 225px;
  opacity: .5;
}

.travel-slider__head {
  background-repeat: no-repeat;
  background-position: top left;
  min-height: 780px;
}

.descr {
  display: inline-block;
  padding-left: 5px;
}

.descr__head {
  font-weight: 800;
  font-size: 40px;
}

.travel-slider__descr .descr__head {
  position: relative;
  padding-right: 78px;
}

.travel-slider__descr .descr__head img {
  position: absolute;
  right: 0;
  top: -5px;
}

.descr__head span {
  font-weight: 300;
}

.travel-slider__descr {
  padding: 160px 0 0 132px;
  min-height: 376px;
  margin-top: -230px;
  background-repeat: no-repeat;
  background-position: right top;
}

.travel-slider__descr img {
  padding-left: 24px;
}

.travel-slider__subtitle {
  text-align: right;
  padding-right: 80px;
  padding-top: 132px;
}

.travel-slider__btn {
  text-align: center;
}

.travel-slider__info {
  display: flex;
  justify-content: space-around;
}

.travel-slider__info-item {
  min-height: 200px;
  margin-bottom: 66px;
  position: relative;
}

.travel-slider__info-subtitle {
  position: absolute;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  opacity: .5;
  transform: rotate(-90deg);
  left: -97px;
  width: 200px;
  height: 0;
  white-space: nowrap;
  top: 97px;
  text-align: right;
}

.travel-slider__info-title {
  font-size: 40px;
  line-height: 36px;
  font-weight: 800;
  padding-left: 40px;
  position: relative;
}

.travel-slider__info-title .holder-pricing__span {
  font-size: 14px;
  line-height: 0;
  text-align: right;
  letter-spacing: 5.25px;
  opacity: .75;
  font-weight: 400;
  position: absolute;
  bottom: -8px;
  right: 0;
}

.quantity {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantity input {
  width: 42px;
  height: 42px;
  background-color: transparent;
  display: block;
  border: none;
  font-size: 40px;
  line-height: 36px;
  font-weight: 800;
  color: #fff;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: static;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 45px;
}

.quantity-button.quantity-up {
  position: absolute;
  right: 0;
}

.quantity-button.quantity-down {
  position: absolute;
  right: 25px;
}

.shop {
  background-image: url(../img/sleep/Shop-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.shop__slider {
  padding-left: 132px;
}

.holder__star-list li {
  display: inline-block;
}

.holder__star-list img {
  position: static;
}

.star-list li {
  display: inline-block;
}

.shop__slider-inner {
  display: flex;
}

.shop__slider-info {
  max-width: 480px;
  width: 100%;
  margin-right: 40px;
  padding-top: 150px;
}

.descr__head-shop {
  max-width: 340px;
  margin-bottom: 90px;
}

.shop__slider-price {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 64px;
}

.shop__slider-price sup {
  font-size: 18px;
  padding-left: 2px;
}

.shop__slider-content {
  display: flex;
  padding-left: 170px;
  align-items: flex-end;
}

.shop__extras {
  padding-left: 150px;
}

.shop__extras-inner {
  display: flex;
}

.shop__extras-title {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 25px;
  font-weight: 800;
}

.shop__extras-box {
  text-align: center;
  margin-right: 57px;
}

.shop__extras-img {
  min-height: 105px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  justify-content: center;
}

.shop__extras-name {
  font-size: 18px;
  line-height: 22px;
  opacity: .5;
  letter-spacing: 8px;
  margin-bottom: 16px;
}

.shop__extras-price {
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
}

.surfboard {
  position: relative;
}

.surfboard-box {
  position: absolute;
}

.surfboard__posititon--1 {
  right: 40px;
  top: 215px;
}

.surfboard__posititon--2 {
  left: -6px;
  top: 313px;
}

.surfboard__posititon--3 {
  bottom: 70px;
  left: 52px;
}

.surfboard__posititon--3 .surfboard-box__content {
  padding-left: 0;
  padding-right: 104px;
  top: -15px;
  left: -400px;
}

.surfboard__posititon--3 .surfboard-box__content::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 1px;
  background-color: #fff;
  right: 0;
  left: auto;
  top: 50%;
}

.surfboard-box__circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  cursor: pointer;
}

.surfboard-box__circle.active .circle-row {
  transform: translate(-50%, -50%) rotate(0);
}

.circle-row {
  background-color: #4af6cd;
  position: absolute;
  width: 12px;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0);
}

.circle-row+.circle-row {
  transform: translate(-50%, -50%) rotate(90deg);
}

.surfboard-box__circle.active+.surfboard-box__content {
  display: block;
}

.surfboard-box__content {
  display: none;
  position: absolute;
  width: 359px;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  padding-left: 104px;
  top: -15px;
  left: 40px;
}

.surfboard-box__content::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #fff;
  left: 0;
  top: 50%;
}

.shop .slider-arrows {
  opacity: .25;
}

.footer {
  text-align: center;
  padding: 285px 0 34px;
}

footer .btn span {
  padding: 17px 17px 15px;
}

.footer .btn span::after {
  display: none;
}

.footer__copy {
  padding-top: 27px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  letter-spacing: 1.05px;
  opacity: .5;
}

.menu-btn {
  width: 60px;
  height: 60px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  z-index: 20;
  right: 20px;
  top: 75px;
  background-color: rgba(255, 255, 255, .1);
}

.menu-btn__inner {
  width: 40px;
}

.menu-btn__line {
  height: 5px;
  background-color: #4af6cd;
}

.menu-btn__line+.menu-btn__line {
  margin-top: 5px;
}

.title span{
  display: inline-block;
}

@media(max-width:1440px) {
  .logo img {
    width: 100px;
  }
  .header__title {
    font-size: 130px;
    line-height: 108px;
    top: 20px;
    left: 60px;
  }
  .menu {
    padding-top: 10px;
  }
  .header__search {
    padding-bottom: 8px;
  }
  .header__date {
    font-size: 60px;
  }
  .header__date span {
    font-size: 14px;
    padding-top: 0;
    margin-bottom: 5px;
  }
  .header__arrows {
    left: 130px;
  }
  .surf-box__inner {
    min-height: 650px;
  }
}

@media(max-width:1366px) {
  .header__aside {
    position: absolute;
    border-right: none;
    height: 108px;
    padding-right: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: left;
    display: flex;
  }
  .menu {
    padding-top: 0;
  }
  .menu__list {
    text-align: center;
  }
  .menu__list li {
    display: inline-block;
  }
  .menu__list a {
    padding: 15px;
  }
  .header__search {
    padding: 33px 15px 15px;
  }
  .header__date {
    padding: 15px;
  }
  .header__location {
    margin-top: 42px;
  }
  .slider-item__info-title {
    font-size: 65px;
  }
  .header__arrows {
    left: 20px;
    bottom: 20px;
  }
  .shop__slider-content {
    padding-left: 40px;
  }
  .shop__slider-price {
    margin-bottom: 30px;
  }
}

@media(max-width:1340px) {
  .header__map svg {
    width: 500px;
    height: 250px;
  }
  .slider-arrows {
    top: 20px;
    right: 20px;
  }
  .slider-arrows__left {
    right: 60px;
  }
}

@media(max-width:1290px) {
  .slider-map {
    display: none !important;
  }
}

@media(max-width:1200px) {
  .shop__slider-inner {
    display: block;
  }
  .shop__slider-info {
    padding-top: 55px;
    padding-bottom: 50px;
  }
  .shop__slider {
    padding-left: 20px;
  }
  .surfboard__posititon--3 .surfboard-box__content {
    left: 60px;
  }
  .surfboard__posititon--3 .surfboard-box__content::before {
    width: 20px;
    right: auto;
    left: -32px;
  }
}

@media(max-width:1150px) {
  .travel-slider__descr {
    padding: 160px 0 0 20px;
  }
}

@media(max-width:1000px) {
  .header__arrows {
    display: none;
  }
  .menu {
    background-color: #000;
    z-index: 22;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    transition: all .3s;
  }
  .menu.active {
    transform: translateX(0);
  }
  .menu-btn {
    display: flex;
  }
  .header__search {
    padding: 40px 15px 15px;
  }
  .slider-item__info {
    position: absolute;
    right: 20px;
    bottom: 17px;
    text-align: right;
  }
  .slider-item__info-text {
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .slider-item__info-suptext {
    margin-bottom: 5px;
  }
  .headline-left {
    font-size: 16px;
    line-height: 18px;
    padding-left: 65px;
  }
  .headline-left::before {
    width: 50px;
  }
  .slider-item__info-title {
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 20px;
  }
  .slider-dotshead {
    right: 0;
    left: 10px;
    margin: 0 auto;
    bottom: 5px;
  }
  .dots-box {
    width: 125px;
  }
  .dots-box__number {
    font-size: 18px;
  }
  .dots-box__name {
    line-height: 18px;
  }
  .serf__subtitle {
    padding-right: 20px;
  }
  .travel-slider__info {
    display: block;
  }
  .travel-slider__info-subtitle {
    position: static;
    transform: rotate(0);
    height: auto;
    width: auto;
    text-align: left;
  }
  .travel-slider__info-item {
    min-height: auto;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .travel-slider__info-title {
    padding-left: 0;
  }
  .travel-slider__descr {
    background-position: right -119px;
  }
  .travel .title div {
    padding-bottom: 0;
  }
  .travel-slider__info-title .holder-pricing__span {
    width: 100%;
    text-align: left;
  }
  .quantity {
    height: 0;
  }
  .quantity-button.quantity-down {
    left: 0;
  }
  .quantity-button.quantity-up {
    left: 25px;
  }
}

@media(max-width:960px) {
  .slider-dotshead {
    display: none !important;
  }
}

@media(max-width:768px) {
  .serf {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .travel-slider__head {
    min-height: 720px;
  }
  .travel-slider__subtitle {
    padding: 100px 20px 0 0;
  }
  .surfboard-box__content {
    padding-left: 0;
    top: 35px;
    left: 0;
    width: 270px;
  }
  .surfboard-box__content::before {
    display: none;
  }
  .surfboard__posititon--1 .surfboard-box__content {
    left: -177px;
  }
  .shop__extras {
    padding-left: 75px;
  }
}

@media(max-width:720px) {
  .travel-slider__descr {
    background-image: none !important;
  }
  .title div {
    font-size: 120px;
    transform: translateX(0);
  }
  .title h3 {
    font-size: 60px;
    left: 0;
  }
  .subtitle {
    margin-top: 50px;
  }
  .title h3::after {
    left: 0;
  }
}

@media(max-width:680px) {
  .shop__slider-content {
    display: block;
  }
  .shop__extras {
    padding-left: 0;
    padding-top: 35px;
  }
  .surfboard__posititon--1 {
    left: 155px;
  }
  .footer {
    padding: 100px 0 34px;
  }
}

@media(max-width:510px) {
  .title h3 {
    font-size: 60px;
    left: 0;
  }
  .subtitle {
    margin-top: 50px;
  }
  .title h3::after {
    left: 0;
  }
  .subtitle__head {
    font-size: 25px;
  }
}

@media(max-width:460px) {
  .header__aside {
    display: block;
    text-align: center;
    padding-right: 0;
    height: 100vh;
  }
  .header__date {
    padding: 0;
    font-size: 50px;
    line-height: 45px;
  }
  .header__date span {
    font-size: 12px;
  }
  .header__search {
    padding: 15px 0 5px;
  }
  .header__location {
    margin-top: 0;
  }
  .header__title {
    display: none;
  }
  .travel {
    background-image: none;
    padding-bottom: 0;
  }
  .btn {
    font-size: 25px;
    line-height: 16px;
    margin-top: 20px;
  }
  .title div {
    font-size: 80px;
  }
  .shop__slider-content {
    padding-left: 0;
  }
  .surfboard__posititon--2 {
    left: 3px;
  }
  .surfboard__posititon--1 {
    left: 146px;
  }
  .shop__extras-box {
    text-align: center;
    margin-right: 30px;
  }
  .shop {
    margin-top: 50px;
  }
}